.summary {
  font-size: 2rem;
  padding: 4rem;
  margin: 0 auto;

  max-width: 800px;
  color: #f5eee4;
}

.summary h2 {
  font-size: 3rem;
  padding-left: 1em;
}

.title {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 6rem;
}

.summary p {
  line-height: 1.5;
  font-size: 1.4rem;
  font-weight: 500;
}
