.item {
  display: flex;
  flex-direction: column;
  border: 1px solid #f5eee4;
  color: #f5eee4;
  transition: all 0.2s ease-out;
}

.item-content {
  padding: 1rem 2rem;
}
/* 
.item:hover {
  background-color: rgba(255, 255, 255, 0.1);
} */

.title {
  font-size: 2rem;
  letter-spacing: 0.05em;
  border-bottom: 1px solid #f5eee4;
  padding-bottom: 0.5em;
}

.img {
  width: 100%;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.description {
  font-weight: 200;
}

.price {
  font-weight: bold;
  font-size: 2rem;
  margin-left: 0.5em;
  letter-spacing: 0.05em;
}
